{% extends 'base.html' %}
{% load static %}
{% block menu %}
    {% if user.is_authenticated %}
   <li><a class="nav-item nav-link active" href="{% url 'webapp:update' product.pk %}">Edit</a></li>
   <li><a class="nav-item nav-link active" href="{% url 'webapp:delete' product.pk %}">Delete</a></li>
    {% endif %}
{% endblock %}
{% block title %}{{ product.title }}{% endblock %}
{% block content %}
  {% if product.photo %}
       <img class="avatar" src="{{ product.photo.url }}" width="250" height="250" alt="photo">
   {%else%}
       <img class="avatar" src="{% static 'img/IMG_1606(1).JPG' %}" width="250" height="250" alt="photo">
        {% endif %}
        <p class="card-text">Имя : {{ product.name }}
        <p class="card-text">Описание : {{ product.description }}</p>
        <p class="card-text">Категория: {{ product.category }}</p>
{% endblock %}
